
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/prettycov

# Test binary, built with `go test -c`
*.test

# Coverage output
coverage.txt
coverage.html
coverage.out
coverage.tmp
coverage.svg

# IDEs
.idea/
.vscode/
